.header {
	background-color: #010067;
	padding: 10px;
	margin-bottom: 25px;
}

button:hover, button:focus,
.button:hover, .button:focus {
	background-color: #00072D;
}

.magellan-container {
	background-color: #010067;
	min-width: inherit;
	position: relative;
	top: 5px;
}

.magellan-container dd.active a {
	background-color: #fff;
	color: #010067;
}

.sub-nav dt.active a:hover, .sub-nav dd.active a:hover, .sub-nav li.active a:hover {
	background-color: white;
}

.content-section {
	position: relative;	
}

.grey-stripe { background-color: #eee; }

.navy-tint {
	background-color: rgba(1, 0, 103, .30);
	padding: 15px;
	height: 100%;
}

.navy-tint h3,
.navy-tint li {
	color: #fff;
	text-shadow: 2px 2px 0px #000;
}

.large { font-size: 18px; }

.button {
	background-color: #010067;
}

.content-overlay {
	width: 100%;
	min-height: 500px;
	padding-top: 25px;
	position: relative;
	margin-top: 25px
}

.content-overlay::after {
	content: '';
	min-height: 600px;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url('/lib/images/services-large.jpg');
	background-repeat: no-repeat;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	
}

.map,
#hansen-map {
	height: 424px;
	width: 100%;
}

.alert-box {position: relative; }

.alert-box.row { margin-bottom: 25px; }

.alert-box.inactive {
	position: absolute;
	left: -99999px;
}
.alert-box.active {
	transition-duration: 200ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.alert-box.dismissed {
	position: absolute;
	left: -9999px;
} 

[data-cover-parent] {
	position: relative;
}

.cover {
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.resubmit {
	position: absolute;
	bottom: 34px;
	right: 0;
	z-index: 1500;
	opacity: 1;
}

.error-list {
	border: 1px solid red;
	padding: 20px 35px;
	color: red;
	margin-bottom: 25px !important;
}

.error-list {position: relative; }

.error-list.active {
	transition-duration: 200ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
}

.error-list.inactive {
	position: absolute;
	left: -9999px;
}

.footer {
	margin-top: 50px;
}

.m0        { margin: 0px; }
.m0-top    { margin-top: 0px; }
.m0-right  { margin-right: 0px; }
.m0-bottom { margin-bottom: 0px; }
.m0-left   { margin-left: 0px; }
.m1        { margin: 10px; }
.m1-top    { margin-top: 10px; }
.m1-right  { margin-right: 10px; }
.m1-bottom { margin-bottom: 10px; }
.m1-left   { margin-left: 10px; }
.m2        { margin: 20px; }
.m2-top    { margin-top: 20px; }
.m2-right  { margin-right: 20px; }
.m2-bottom { margin-bottom: 20px; }
.m2-left   { margin-left: 20px; }
.m3        { margin: 30px; }
.m3-top    { margin-top: 30px; }
.m3-right  { margin-right: 30px; }
.m3-bottom { margin-bottom: 30px; }
.m3-left   { margin-left: 30px; }
.m4        { margin: 40px; }
.m4-top    { margin-top: 40px; }
.m4-right  { margin-right: 40px; }
.m4-bottom { margin-bottom: 40px; }
.m4-left   { margin-left: 40px; }
.m5        { margin: 50px; }
.m5-top    { margin-top: 50px; }
.m5-right  { margin-right: 50px; }
.m5-bottom { margin-bottom: 50px; }
.m5-left   { margin-left: 50px; }